---
layout: minimal
title: "Sobre mim"
permalink: /about/index.html
description: "Aqui estão alguns dos meus projetos."
---

<img itemprop="image" class="img-rounded about_perfil" src="{{ site.profile_picture }}" alt="My profile">

<h2>Meus Projetos</h2>

<div class="aboutme">
	<ul id="repos" class="recent">
	<!-- Use all_repos in _config.yml for change this -->
	{% if site.all_repos == true %}
		<script src="{{ "/assets/js/fast.js" | prepend: site.baseurl }}"></script>
			<script defer type="text/javascript">
				var user = "{{ site.github_username }}";
				getRepos(user);
			</script>
	{% else %}
			{% for project in site.projects %}
				<li><a href="{{ project.url}}"><h3 class="project-name" itemprop="name">{{ project.name }}</h3></a></li>
			{% endfor %}
	{% endif %}
	</ul>
</div>