<header class="header-site" role="banner">
    <div class="content">

        <div class="person">
            <img alt="My photo" src="{{site.profile_picture}}">
        </div>

        <h1>
            <span class="site-title">[{{site.username}}]</span>
        </h1>

        <div class="icons-home">
            <a aria-label="Envie um email" title="Entre em contato" href="mailto:{{site.email}}">
                <svg class="icon icon-email"><use xlink:href="#icon-email"></use></svg>
            </a>

            <a aria-label="Meu Twitter" title="Me siga no Twitter" target="_blank" href="https://twitter.com/{{site.twitter_username}}">
                <svg class="icon icon-twitter"><use xlink:href="#icon-twitter"></use></svg>
            </a>

            <!-- <a aria-label="My Google Plus" title="Show my feed" target="_blank" href="https://plus.google.com/u/0/+{{site.gplus_username}}/posts">
                <svg class="icon icon-google-plus"><use xlink:href="#icon-google-plus"></use></svg>
            </a> -->

            <a aria-label="Meu Github" title="Veja meu Github" target="_blank" href="https://github.com/{{site.github_username}}">
                <svg class="icon icon-github-alt"><use xlink:href="#icon-github-alt"></use></svg>
            </a>

            <a aria-label="Meu LinkedIn" title="Vamos forma uma conexão!" target="_blank" href="https://www.linkedin.com/in/{{site.linkedin_public_url}}">
                <svg class="icon icon-linkedin"><use xlink:href="#icon-linkedin"></use></svg>
            </a>

            <a aria-label="Use o RSS para ficar atualizado" title="Caso não queria perder nada" target="_blank" href="{{ "/feed.xml" | prepend: site.baseurl }}">
                <svg class="icon icon-rss"><use xlink:href="#icon-rss"></use></svg>
            </a>
        </div>

        <ul class="recent">
            <p>Postagens recentes:</p>
             {% for post in site.posts limit:3%}
                <li>
                    <a title="As minhas postagens mais recentes" href="{{ post.url | prepend: site.baseurl }}">
                        <h2 class="post-title" itemprop="name">{{ post.title }}</h2>
                    </a>
                </li>
              {% endfor %}
            <a class="post-more" title="Veja todos os posts" href="{{ site.baseurl }}/posts">
                <h2 itemprop="name">Todos os posts</h2>
            </a>
        </ul>

        <ul class="recent">
            <p>Projetos recentes:</p>
             {% for project in site.projects limit:3%}
                <li>
                    <a title="Os meus projetos mais recentes" href="{{ project.url}}">
                        <h2 class="post-title" itemprop="name">{{ project.name }}</h2>
                    </a>
                </li>
              {% endfor %}
            <a class="post-more" title="Veja todos os posts" href="{{ site.baseurl }}/about">
                <h2 itemprop="name">Todos os projetos</h2>
            </a>
        </ul>

    </div>
    {% include menu-search.html %}
</header>
